.header_container_mobile{
    margin: 0px 24px;
    display: flex;
    flex-direction: column;
    align-items: center;
}



.search_mobile{
    width: 420px;
    height: 20px;
    padding: 16px 48px 16px;
    border: 1px solid rgba(0, 0, 0, 0.5);
    border-radius: 8px;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: rgba(0, 0, 0, 0.5);
    background-image: url("../../img/search_icon.png");
    background-repeat: no-repeat;
    background-position-y: center;
    background-position-x: 16px;
}